h1 {
	font-family: "Kibitz Trial";
	color: pink;
	font-size: 4rem;
	text-align: center;
	list-style: 1px;
}

h4 {
	font-family:'Castledown Fun Trial';
	color: mediumvioletred;
	text-align: center;
	line-height: 1px;
	font-size:25px;
}



body {
	background-color: 
	align-content: center;
	list-style: none;
	background: REPEAT url("https://t3.ftcdn.net/jpg/05/35/49/82/360_F_535498239_jFvSUu8PY7SyOw5MDvQtsCVDBj5TKVo1.jpg");
}
	
h2 {
	font-family: "Kibitz Trial";
	color: pink;
	font-size: 20p;
	text-align: center;
	list-style: 1px;
}

li {
	font-family:'Castledown Fun Trial';
	color: mediumvioletred;
text-align:center;
	line-height: 17p
		list-style:none;
		
}

dd {
	font-family:'Castledown Fun Trial';
	color: mediumvioletred;
text-align:center;
	line-height: 17p
}

dt {
	font-family: "Kibitz Trial";
	color: pink;
	font-size: 20p;
	text-align: center;
	list-style: 1px;
}